.detail{
    display: flex;
}
.detail img{
    width: 200px;
}
.detail{
    border: solid 0.5px;
    border-color: black;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 15px;
    width: 350px;
}
.detail-text p{
    font-family: Arial, Helvetica, sans-serif;
}


    
