.conteiner{
    display: flex;
    justify-content: space-around;
}
.conteiner button{
    margin-left: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    
}