.cart{
    display: flex;

}
.cart p{
    color: black;
    margin-top: 50px;
    font-size: 25px;
    
}
.cart img{
    width: 1000px;
    height: 60px;
    margin-top: 40px;
}
:link{
    text-decoration: none;
    
}